<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{{ .Title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="/asset/style.css">
  </head>

  <body>
    <div class="banner"><a href="/{{ .IndexPath }}">Index</a></div>
    <div class="markdown-body">
      {{ if .IsMarkdown -}}
        {{ markdown .FileString }}
      {{ else -}}
        {{ if not .IsHTML }}<pre>{{ end -}}
          {{- .FileString -}}
        {{ if not .IsHTML }}</pre>{{ end -}}
      {{ end -}} 
    </div>
  </body>
</html>
